<div class="modal">
  <ion-header-bar>
    <h1 class="title">Settings</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSettings()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <h1 class="item item-divider">Push Notifications</h1>
    <ul class="list">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Journal - New Issue
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Glaucoma Minute - New Issue
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        AMD Update - New Issue
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Focus on Temto - New Issue
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Cornea eUpdate - New Issue
      </li>
    </ul>
  </ion-content>
</div>

