<html>
<head>
<meta http-equiv="Content-Language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<script type="text/javascript" src="/shared/image.js"> </script>
<link type="text/css" rel="stylesheet" href="/shared/pentavision.css"/>
<title>Treating a Glaucoma Patient&#8217;s MGD</title>
</head>
<meta name="ARTICLE_TITLE" content="Treating a Glaucoma Patient&#8217;s MGD"/>
<meta name="ARTICLE_ID" content="111935"/>
<meta name="ARTICLE_VOLUME" content="18"/>
<meta name="ARTICLE_PUBLICATION" content="OMD"/>
<meta name="ARTICLE_IS_SUPPLEMENT" content="TRUE"/>
<meta name="ARTICLE_PAGE" content="20, 21"/>
<meta name="ISSUE_MONTH" content="NOVEMBER"/>
<meta name="ISSUE_YEAR" content="2014"/>
<meta name="ISSUE_NUMBER" content="11"/>
<meta name="DOI" content=""/>
<meta name="ARTICLE_AUTHOR1_1_FIRST" content="Howard"/>
<meta name="ARTICLE_AUTHOR1_1_LAST" content="Barnebey"/>
<meta name="HTML_NAME" content="OMD_November_S01"/><body onload="addImgAttributes()">

<h1 class="h1_omd">Treating a Glaucoma Patient&#8217;s MGD</h1>
<h2 class="h2_omd">In this case study, a comprehensive dry eye examination and subsequent treatment with LipiFlow have positive outcomes.</h2>
<h3 class="h3_omd">By Howard Barnebey, MD</h3>
<p>Ocular surface disease (OSD) is common among glaucoma patients. Medications may be contributing factors to OSD, or the prevalence may simply result from the same factors that contribute to patients getting glaucoma. Whatever the cause for this correlation, it&#8217;s important for us to diagnose and treat OSD for patients with glaucoma, regardless of whether they are symptomatic. The most important reason for this is that I want my glaucoma patients to be alert to any fluctuations in their vision, and ocular surface treatment helps to eliminate one potential cause of those fluctuations.</p>
<p>Patients often don&#8217;t have complaints about comfort or vision fluctuation because they accept these changes as normal. For this reason, many practices have patients complete screening questionnaires to uncover their experiences with ocular surface problems. Patients who score 7 points or higher on the questionnaire receive a dry eye evaluation. In my practice, we&#8217;ve chosen a different approach. A serious look at the eyelids and tear film is part of our comprehensive exam. It does require discipline when there are time constraints, but OSD is a priority for us, so we&#8217;ve made time to include it as part of our exam routine.</p>

<h4 class="h4_omd">MGD is a Problem</h4>
<p>Meibomian Gland Dysfunction (MGD) is at the root of dry eye disease for many of my patients. Like glaucoma, MGD can be detected by observing functional and structural changes to the glands. Early functional change (e.g., mild obstruction) can lead to observable structural change (e.g., drop out), if MGD goes undetected.</p>
<p>MGD impacts lipid layer thickness and tear film quality, and the resulting cornea damage can be revealed through staining. When the glands are plugged, we observe functional changes through diagnostic gland evaluation and reduced lipid layer thickness. We also image the meibomian glands which provides the structural evidence we need to share with the patient.</p>

<h4 class="h4_omd">A Glaucoma Patient with MGD</h4>
<h5 class="h5_omd">Presentation</h5>
<p>A 67-year-old patient with significant pseudoexfoliative glaucoma presented with complaints of dry, red and achy eyes. His vision sometimes fluctuated as well, particularly after hours of computer use.</p>
<p>The patient had undergone trabeculectomy on both eyes 14 years prior and cataract surgery with Restor (Alcon) IOLs in both eyes 7 years later. He was using cyclosporine ophthalmic emulsion (Restasis, Allergan) and timolol, but it sounded to me as though deficient tear film may have been affecting his comfort and vision.</p>

<h5 class="h5_omd">Exam and Testing</h5>
<p>Testing with LipiView showed that the lipid layer was diminished, particularly in the right eye (54 nM OD, 85 nM OS) (<b>Figures </b><a href="#Figure 1"><b>1</b></a><b> &amp; </b><a href="#Figure 2"><b>2</b></a>). The intraocular pressure (IOP) was better controlled in the right eye, but both eyes had mild conjunctival injection.</p>

<a id="Figure 1"> </a><img src="images/omd_nov_s1_2002.jpg"/>
<p class="cap_omd">Figure 1. Initial and 1-month follow-up LipiView results (OD treated, OS untreated)</p>
<a id="Figure 2"> </a><img src="images/omd_nov_s1_2101.jpg"/>
<p class="cap_omd">Figure 2. Untreated right eye</p>

<h5 class="h5_omd">Treatment with LipiFlow</h5>
<p>In my practice, we were early adopters of LipiView and LipiFlow. When this patient came in, we were in the process of putting together a dry eye evaluation and workup plan. Our LipiFlow machine was new, and we were learning how to make that technology a routine treatment for dry eye in the practice.</p>
<p>Because the patient had a significantly thinner lipid layer in the right eye, I ordered LipiFlow treatment on that eye. Today, we would most likely treat both eyes using LipiFlow. We were very interested to see the treatment outcomes of this new technology.</p>
<h5 class="h5_omd">Outcomes</h5>
<p>At a follow-up visit several days later, the patient said his eyes felt better, but I wasn&#8217;t sure if significant improvement had occurred. At 1 month, LipiView objectively showed us that the lipid layer had improved dramatically, from 54 nM to 84 nM (<a href="#Figure 3"><b>Figure 3</b></a>). I now rely on a number of secreting glands to determine improvement.</p>

<a id="Figure 3"> </a><img src="images/omd_nov_s1_2102.jpg"/>
<p class="cap_omd">Figure 3. Right eye treated with LipiFlow</p>

<p>At 4 months, we began to see the downside of treating the right eye alone. There was a marked difference between the two eyes. The treated right eye was comfortable with minimal conjunctival injection, while the left eye was red and the patient reported discomfort.</p>
<p>The patient&#8217;s IOP had also increased significantly in the left eye, from 20 to 26 mmHg, while the right eye remained stable. Although this change is not directly attributable to treating just one eye with LipiFlow, I did wonder if treatment of the ocular surface was affecting timolol compliance or how well it penetrated. I switched the left eye from timolol alone to dorzolamide and timolol (Cosopt, Merck) and brimonidine (Alphagan, Allergan) for IOP control. Ultimately, it wasn&#8217;t enough, and the left eye required a canaloplasty.</p>

<h4 class="h4_omd">Lessons Learned</h4>
<p>MGD diagnosis has evolved rapidly in the last few years. As an early adopter of the LipiFlow technology, the similarities to glaucoma have surprised me.</p>
<p>The use of metrics and technology for the diagnosis of MGD is new. Now that they are available, we&#8217;ve developed an effective protocol to offer our patients a much higher standard of care and early intervention.</p>
<p>As an experienced ophthalmologist, I was initially skeptical about the LipiFlow treatment. Today, I understand and trust the technology and want to offer its benefits to my patients. &#9632;</p>
<hr/><p class="foot"/>
<p><b>Sponsored by</b>
<br/><img src="images/omd_nov_s1_2103.jpg"/></p>

<div class="notebox_omdimg"><table><tr><td><img src="images/omd_nov_s1_2001.jpg"/></td><td><p class="para_omdimg"><b>Howard Barnebey, MD,</b> is medical director of Specialty Eyecare Centre in Seattle.</p></td></tr></table></div>
</body></html>