<html>
<head>
<meta http-equiv="Content-Language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<script type="text/javascript" src="/shared/image.js"> </script>
<link type="text/css" rel="stylesheet" href="/shared/pentavision.css"/>
<title>Quick Hits</title>
</head>
<meta name="ARTICLE_TITLE" content="Quick Hits"/>
<meta name="ARTICLE_DEPARTMENT" content="DEPARTMENT 11"/>
<meta name="ARTICLE_ID" content="111927"/>
<meta name="ARTICLE_VOLUME" content="18"/>
<meta name="ARTICLE_PUBLICATION" content="OMD"/>
<meta name="ARTICLE_IS_SUPPLEMENT" content="FALSE"/>
<meta name="ARTICLE_PAGE" content="8, 10, 12, 14"/>
<meta name="ISSUE_MONTH" content="NOVEMBER"/>
<meta name="ISSUE_YEAR" content="2014"/>
<meta name="ISSUE_NUMBER" content="11"/>
<meta name="DOI" content=""/>
<meta name="ARTICLE_AUTHOR1_1_FIRST" content="Ren&#233;"/>
<meta name="ARTICLE_AUTHOR1_1_LAST" content="Luthe"/>
<meta name="ARTICLE_AUTHOR1_2_FIRST" content="Bill"/>
<meta name="ARTICLE_AUTHOR1_2_LAST" content="Kekevian"/>
<meta name="ARTICLE_AUTHOR1_3_FIRST" content="Zack"/>
<meta name="ARTICLE_AUTHOR1_3_LAST" content="Tertel"/>
<meta name="HTML_NAME" content="OMD_November_A02"/><body onload="addImgAttributes()">

<h6 class="h6_omd"><span class="b1">Quick Hits</span></h6>
<h1 class="h1_omd">3D making inroads in ophthalmic OR</h1>
<h2 class="h2_omd">Technology offers improved visualization &#8212; and improved teaching.</h2>
<h3 class="h3_omd">By Ren&#233; Luthe, Senior Editor</h3>
<p><span class="bigdep_omd">3D</span> visualization may have been made famous by the movie industry, but it&#8217;s certainly not staying there. This month, the second 3D product, designed for the OR, was introduced. Sony Electronics&#8217; Medical Systems presented its new high definition camera system at a press conference in New York City. The product, called 3D Simplicity, features two built-in cameras that integrate with OR microscopes to produce 3D video.</p>
<p>It is particularly useful in ophthalmology, notes Richard Mackool, Jr., MD, assistant director at The Mackool Eye Institute and Laser Center, Astoria, N.Y. When he trained in ophthalmology, Dr. Mackool says, books, slides and 2D video were the visual aids. &#8220;Phacoemulsification is inherently 3-dimensional, and impossible to realistically display with 2D technology. With 3D technology, anyone can come to the OR and see what the surgeon is seeing in real time.&#8221;</p>
<p>&#8220;The teaching value of this tool is far beyond anything I&#8217;ve seen,&#8221; Dr. Mackool says. &#8220;For instance, one of the biggest challenges for young surgeons is learning to sculpt and chop the nucleus. With this technology students can learn chopping techniques and appreciate the chamber depth needed for safe phaco. You can&#8217;t teach this effectively with a two-dimensional video.&#8221;</p>
<p>Sony&#8217;s monitor joins TrueVision 3D Surgical&#8217;s (Santa Barbara, Calif.) stereoscopic high-definition visualization system, launched in 2008. Pravin U. Dugel, MD, managing partner of Retinal Consultants of Arizona and Clinical Professor of Ophthalmology, Keck School of Medicine, University of Southern California, has been using that system for about four months. It features a &#8220;heads-up&#8221; display, in which the surgeon wears 3D glasses and looks directly at the monitor while performing surgery, instead of looking through a microscope.</p>
<p>The advantages are considerable, Dr. Dugel believes, both in superior images due to better magnification, and ergonomically, as there&#8217;s no hunching over a microscope. In his opinion, though, the greatest advantage high-definition visualization system offers is its ability to create a digitized image.</p>
<p>&#8220;It is like having an image on your camera or iPhone, where the image is digitized and you can essentially Photoshop it,&#8221; Dr. Dugel explains. &#8220;It&#8217;s the same with surgery. You can optically stain material, you can import other multimedia, change the color, and by doing that, you may be able to see certain structures better.&#8221;</p>
<p>He predicts that a decade from now, digitized images will be the norm in the OR. &#8220;The main advantages will be coming down the road.&#8221;</p>
<div class="notebox_omda">
<h4 class="h4_omd">VISUAL IMPAIRMENT</h4>
<img src="images/omd_nov_1001.jpg"/>
<p class="para_omda">Number (in millions) of Adults Ages 18 Years or Older with Diagnosed Diabetes Reporting Visual Impairment, United States, 1997-2011</p>
<h5 class="h5_omd">Number of Adults with Diabetes with Visual Impairments</h5>
<p class="para_omda">From 1997 to 2011, the number of adults with diagnosed diabetes who reported visual impairment - trouble seeing even with glasses or contact lenses - rose 2.7 million to 4.0 million</p>
<img src="images/omd_nov_1002.jpg"/>
<table border="1" class="table_omd1">
<tr><th class="thead_omd"><b>Year</b></th> <th class="thead_omd"><b>Millions</b></th></tr>
<tr><td valign="top" align="center">1997</td> <td valign="top" align="center">2.7</td></tr>
<tr><td valign="top" align="center">1998</td> <td valign="top" align="center">2.6</td></tr>
<tr><td valign="top" align="center">1999</td> <td valign="top" align="center">2.6</td></tr>
<tr><td valign="top" align="center">2000</td> <td valign="top" align="center">2.8</td></tr>
<tr><td valign="top" align="center">2001</td> <td valign="top" align="center">3.0</td></tr>
<tr><td valign="top" align="center">2002</td> <td valign="top" align="center">3.0</td></tr>
<tr><td valign="top" align="center">2003</td> <td valign="top" align="center">3.0</td></tr>
<tr><td valign="top" align="center">2004</td> <td valign="top" align="center">3.2</td></tr>
<tr><td valign="top" align="center">2005</td> <td valign="top" align="center">3.3</td></tr>
<tr><td valign="top" align="center">2006</td> <td valign="top" align="center">3.4</td></tr>
<tr><td valign="top" align="center">2007</td> <td valign="top" align="center">3.6</td></tr>
<tr><td valign="top" align="center">2008</td> <td valign="top" align="center">3.7</td></tr>
<tr><td valign="top" align="center">2009</td> <td valign="top" align="center">4.0</td></tr>
<tr><td valign="top" align="center">2010</td> <td valign="top" align="center">3.9</td></tr>
<tr><td valign="top" align="center">2011</td> <td valign="top" align="center">4.0</td></tr>
<tr><td valign="top" colspan="2">Sources: Centers for Disease Control and Prevention (CDC), National Center for Health Statistics, Division of Health Interview Statistics, data from the National Health Interview Survey. Data computed by personnel in CDC&#8217;s Division of Diabetes Translation, National Center for Chronic Disease Prevention and Health Promotion.</td></tr>
</table>
<img src="images/omd_nov_1003.jpg"/>
<h5 class="h5_omd">Projections for Diabetic Retinopathy (2010-2030-2050)</h5>
<img src="images/omd_nov_1004.jpg"/>

<table border="1" class="table_omd1">
<tr><th class="thead_omd">Year</th> <th class="thead_omd">All</th> <th class="thead_omd">White</th> <th class="thead_omd">Black</th> <th class="thead_omd">Hispanic</th> <th class="thead_omd">Other</th></tr>
<tr><td valign="top">2010</td> <td valign="top">7,685,237</td> <td valign="top">5,251,907</td> <td valign="top">826,102</td> <td valign="top">1,194,231</td> <td valign="top">412,997</td></tr>
<tr><td valign="top">2030</td> <td valign="top">11,350,006</td> <td valign="top">6,384,275</td> <td valign="top">1,191,481</td> <td valign="top">2,939,136</td> <td valign="top">835,113</td></tr>
<tr><td valign="top">2050</td> <td valign="top">14,559,464</td> <td valign="top">6,374,626</td> <td valign="top">1,547,724</td> <td valign="top">5,254,328</td> <td valign="top">1,382,786</td></tr>
</table>
</div>

<h1 class="h1_omd">AAO debuts new patient education materials</h1>
<h2 class="h2_omd">The literature is designed for greater inclusivity.</h2>
<h3 class="h3_omd">By Bill Kekevian, Senior Associate Editor</h3>
<p><span class="bigdep_omd">T</span>he AAO&#8217;s new patient education materials, debuted at this year&#8217;s Academy meeting, were created in an effort to be understood by a greater number of patients. Most of the materials are written at or above a 10th grade reading level with some reaching college reading levels, according to the AAO. Still, nearly half of adults in the United States have trouble understanding health information written above an 8th grade level, according to the Department of Health and Human Services. The new materials were designed with inclusivity in mind.</p>
<p>&#8220;We are trying to be proactive in this, and constantly looking for ways to better educate our patients,&#8221; says Devin Harrison, MD, chair of the Academy&#8217;s patient education committee. &#8220;Patients who better understand their disease are more likely to comply with their treatments.&#8221;</p>
<p>The changes to the AAO&#8217;s fact sheet, handouts, brochures and videos include vocabulary, phrasing and different fonts, which could particularly help patients with low vision. A group heralded by Kierstan Boyd, the Academy&#8217;s director of patient education, wrote the materials. She first brought the health literacy issue to the attention of the patient education committee. Physicians then reviewed the material the committee members wrote.</p>
<p>Doctors can do their part in helping to accommodate all patients, too. &#8220;In no way should patient-education material take the place of a direct conversation with a patient,&#8221; says Dr. Harrison. &#8220;We see the educational material as a supplement. In a direct conversation with a patient, a physician can often sense when patients understand what information is conveyed by the questions the patients ask, as well as other cues. A good doctor can sense when a patient is not grasping some important information. He or she may then give the patient some written material, then have the patient return for another conversation.&#8221; The entire new line of patient education materials is available for purchase at <a target="_blank" href="http://www.aao.org/store">www.aao.org/store</a>.</p>
<div class="notebox_omda">
<p class="title_omda">QUICK BITS</p>
<p class="para_omda">The U.S. Patent and Trademark Office has granted <b>Iridex Corporation</b> a patent for a new proprietary disposable delivery device, according to a company news release. The disposable delivery device will let ophthalmologists administer Iridex&#8217;s proprietary MicroPulse Laser Therapy in a non-invasive way. The device was developed to address a broad range of glaucoma issues. Iridex plans to have the device commercially available in the first quarter of 2015.</p>
<p class="para_omda"><b>Nextech</b> (Tampa, Fla.) has acquired the EHR company <b>MDIntelleSys</b> (Clearwater, Fla). Founded in 2003 by retina specialist Daniel P. Montzka, MD, MDIntelleSys was one of the first cloud-based electronic systems designed for ophthalmology.</p>
<p class="para_omda"><b>Alcon</b> has completed its acquisition of <b>WaveTec Vision,</b> developer of the ORA System, an intra-operative guidance system designed for cataract surgeons who implant IOLs. The system complements Alcon&#8217;s Verion image-guided, pre-operative diagnostic system by perform additional measurements. It also lets surgeons see incisions and IOL alignment in real-time.</p>
<p class="para_omda">The FDA has approved use of the Implantable Miniature Telescope for patients 65 years and older who have bilateral, end-stage AMD. The telescope, made by <b>VisionCare Ophthalmic Technologies Inc.</b> (Saratoga, Calif.) is, so far, the only surgical device for end-stage AMD to gain FDA approval.</p>
</div>

<div class="notebox_omdb">
<table>
<tr>
<td><p class="title_omdb">Be prepared for an audit &#160;&#160;&#160;&#160;&#160;&#160;&#160;</p></td>
<td width="40%"><p class="para_omdb"><img src="images/omd_nov_1201.jpg"/> <b>tip of the month</b></p></td>
</tr>
</table>
<p class="para_omdb"><span class="big_omdb">M</span>ore than 400,000 providers have participated in meaningful use, equating to more than six billion dollars in payouts, according to CMS. With such a substantial dollar figure, you can be sure audits are taking place.</p>
<p class="para_omdb">Auditors will contact the e-mail address the EP used to register for MU, so consider using a generic e-mail address (<a target="_blank" href="mailto:meaningfuluse@practicename.com">meaningfuluse@practicename.com</a>) that is always accessible, even if someone leaves your practice.</p>
<p class="right"><i>&#8212; Darla Shewmaker, Destinations Consulting and Jeff Grant, HCMA, Inc.</i></p>
<p class="para_omdb"><b>To submit your own practice tip e-mail: <a target="_blank" href="mailto:william.kekevian@pentavisionmedia.com">william.kekevian@pentavisionmedia.com</a>.</b></p>
</div>

<h1 class="h1_omd">Specialists value efficacy most in adjunctive therapy</h1>
<h2 class="h2_omd">IOP reduction is paramount, say doctors.</h2>
<h3 class="h3_omd">By Zack Tertel, Senior Associate Editor</h3>
<p><span class="bigdep_omd">W</span>hen evaluating attributes of glaucoma adjunctive therapies, 75% of specialists say efficacy is most important, defining efficacy primarily as a reduction in IOP, according to a 2014 M3 Global Research Survey of Glaucoma Specialists, sponsored by Allergan.</p>
<p>And why not the other 25%?</p>
<p>&#8220;If you put a patient on a product and the IOP drops tremendously, it&#8217;s great for the patient,&#8221; says Fiaz Zaman, MD, of Houston Eye Associates.</p>
<p>&#8220;But if the [person] can&#8217;t tolerate it or [he&#8217;s] having a lot of systemic side effects, obviously you&#8217;re going to stop it.&#8221;</p>
<p>&#8220;Lowering the patients&#8217; intraocular pressure has been the number-one risk factor that has shown to be repeatable to stop the disease process or slow it down significantly, so having the efficacy number so high is not surprising,&#8221; says Dr. Zaman.</p>
<p>Votes for other characteristics among the 120-plus respondents barely registered a pulse: 6% of respondents each named safety profile and managed care plan coverage, followed by dosing, tolerability and duration, all of which received 4%.</p>
<img src="images/omd_nov_1401.jpg"/>
<p>While Dr. Zaman agrees with putting efficacy first, the sizable gap between efficacy and other attributes does not reflect a lack of significance in other factors when prescribing glaucoma therapy, he says. Glaucoma therapies are not one size fits all, he adds.</p>

<div class="notebox_omdb">
<p class="title_omdb">IRIS registration up to 5,000</p>
<p class="para_omdb"><span class="big_omdb">A</span>bout 5,000 American ophthalmologists, or nearly one-third of those in this country, now use the IRIS registry, according to an announcement from the AAO at its annual meeting in Chicago. This means the relatively new registry contains insights from about 10 million patient visits, according to the AAO.</p>
<p class="para_omdb"><b>For information about signing up for the IRIS registry, visit
<a target="_blank" href="http://www.aao.org/iris-registry/participating.cfm">www.aao.org/iris-registry/participating.cfm</a>.</b></p></div>

<p>&#8220;Depending on what stage their disease is in and other comorbidities as far as other systemic diseases, you&#8217;re going to implement treatments to keep things from getting worse systemically with their other disease states while giving the most efficacious treatment for that patient.&#8221; <b>OM</b></p>
</body></html>