<html>
<head>
<meta http-equiv="Content-Language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<script type="text/javascript" src="/shared/image.js"> </script>
<link type="text/css" rel="stylesheet" href="/shared/pentavision.css"/>
<title>SPOTLIGHT ON TECHNOLOGY &amp; TECHNIQUE</title>
</head>
<meta name="ARTICLE_TITLE" content="SPOTLIGHT ON TECHNOLOGY &amp; TECHNIQUE"/>
<meta name="ARTICLE_DEPARTMENT" content="DEPARTMENT 16"/>
<meta name="ARTICLE_ID" content="111932"/>
<meta name="ARTICLE_VOLUME" content="18"/>
<meta name="ARTICLE_PUBLICATION" content="OMD"/>
<meta name="ARTICLE_IS_SUPPLEMENT" content="FALSE"/>
<meta name="ARTICLE_PAGE" content="64"/>
<meta name="ISSUE_MONTH" content="NOVEMBER"/>
<meta name="ISSUE_YEAR" content="2014"/>
<meta name="ISSUE_NUMBER" content="11"/>
<meta name="DOI" content=""/>
<meta name="ARTICLE_AUTHOR1_1_FIRST" content="Zack"/>
<meta name="ARTICLE_AUTHOR1_1_LAST" content="Tertel"/>
<meta name="HTML_NAME" content="OMD_November_A16"/><body onload="addImgAttributes()">

<h6 class="h6_omd"><span class="rb">SPOTLIGHT ON TECHNOLOGY &amp; TECHNIQUE</span></h6>
<h1 class="h1_omd">PSF Integra offers a target system aimed at precision</h1>
<h2 class="h2_omd">The point-spread function gives patients an alternative to traditional refraction.</h2>
<h3 class="h3_omd">By Zack Tertel, Senior Associate Editor</h3>
<p><span class="bigdep_omd">F</span>or William B. Trattler, MD, of Center for Excellence in Eye Care in Miami, refractions are all about precision and accuracy.</p>
<p>&#8220;The concept of being able to fine tune and really get a precise refraction makes a lot of sense, especially in an age when we&#8217;re performing laser vision correction,&#8221; Dr. Trattler says. &#8220;If you can fine-tune a patient&#8217;s prescription, you can really improve their overall quality of vision.&#8221;</p>
<p>The PSF Integra (Vmax Vision) uses a point-spread function, a technology that allows users to measure patient prescriptions within 0.05D.</p>

<img src="images/omd_nov_6401.jpg"/>

<h4 class="h4_omd">NO MORE &#8220;ONE OR TWO&#8221;</h4>
<p>Dr. Trattler, who  specializes in refractive, corneal and cataract eye surgery, says he prefers PSF Integra&#8217;s method of obtaining a refraction over asking patients to choose between &#8220;one and two,&#8221; which can be said for both doctors and patients.</p>
<p>&#8220;The challenge is that as we get close to the final refraction with a Snellen letter chart, there is often not much of a difference between the two options presented on the phoropter,&#8221; Dr. Trattler says. &#8220;It can be hard to distinguish which letter is more crisp.&#8221;</p>
<p>Rather than using a one-dimensional or two-dimensional object to measure  refraction, such as a line or letters, the PSF Integra targets a point. This system helps correct for low and high order aberrations in the final prescription. The company says this helps to simultaneously maximize acuity and contrast sensitivity while also preventing over-minusing.</p>
<p>&#8220;The target is novel and allows for easy determination of which option is better, so a patient can easily say which one is crisper and sharper,&#8221; Dr. Trattler says.</p>

<h4 class="h4_omd">REFRACTION LANE</h4>
<p>The PSF Integra&#8217;s point-spread function is similar to the company&#8217;s PSF Refractor. The primary difference between these devices is the space they  occupy. Unlike the PSF Refractor, which requires a traditional phoropter lane, the PSF Integra&#8217;s manipulating optics technology gives the patient 20 feet of effective distance. Along with saving space, this technology removes the chance of inducing accommodative response, the company says.</p>

<h4 class="h4_omd">A SOLUTION FOR KERATOCONUS PATIENTS</h4>
<p>While Dr. Trattler says the device can be used for virtually all patients, he is particularly pleased that the PSF Integra allows him to perform accurate refractions of keratoconus patients.</p>
<p>&#8220;Patients with keratoconus are more difficult to refract,&#8221; he says. &#8220;They have high prescriptions and  irregularity in their corneal shape. This makes determining their prescription more difficult. The PSF refractor allows us to more accurately determine the refraction for these patients.&#8221; <b>OM</b></p>

</body></html>