<html>
<head>
<meta http-equiv="Content-Language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<script type="text/javascript" src="/shared/image.js"> </script>
<link type="text/css" rel="stylesheet" href="/shared/pentavision.css"/>
<title>Interested in closing the &#8216;treatment loop&#8217;?</title>
</head>
<meta name="ARTICLE_TITLE" content="Interested in closing the &#8216;treatment loop&#8217;?"/>
<meta name="ARTICLE_ID" content="111924"/>
<meta name="ARTICLE_VOLUME" content="18"/>
<meta name="ARTICLE_PUBLICATION" content="OMD"/>
<meta name="ARTICLE_IS_SUPPLEMENT" content="FALSE"/>
<meta name="ARTICLE_PAGE" content="54, 56, 57"/>
<meta name="ISSUE_MONTH" content="NOVEMBER"/>
<meta name="ISSUE_YEAR" content="2014"/>
<meta name="ISSUE_NUMBER" content="11"/>
<meta name="DOI" content=""/>
<meta name="ARTICLE_AUTHOR1_1_FIRST" content="Stuart"/>
<meta name="ARTICLE_AUTHOR1_1_LAST" content="Michaelson"/>
<meta name="HTML_NAME" content="OMD_November_A11"/><body onload="addImgAttributes()">

<h1 class="h1_omd">Interested in closing the &#8216;treatment loop&#8217;?</h1>
<h2 class="h2_omd">Merely having a dispensary isn&#8217;t enough &#8212; first you need to appreciate business terms such as &#8216;capture rate.&#8217;</h2>
<h3 class="h3_omd">By Stuart Michaelson, Contributing Editor</h3>
<p><span class="big_omd">O</span>phthalmologists who want color in their clinic, more oomph to their bottom line and diversity in their product mix should consider running an in-house dispensary. With some solid business acumen and willingness to treat the dispensary as an extension of the eye-care practice, those in the know say your investment would pay off.</p>

<h4 class="h4_omd">DISPENSARY EDUCATION IS A NECESSITY</h4>
<h5 class="h5_omd">Physicians, get subscriptions to Forbes</h5>
<p>Ophthalmologists usually don&#8217;t run their dispensary &#8212; the necessary classes to do so weren&#8217;t on the med school curriculum. But those who have them &#8212; and turn a healthy profit on them &#8212; know what&#8217;s going on. &#8220;Ophthalmologists need to educate themselves on how to run their dispensary businesses better,&#8221; says Arthur DeGennaro, president of Arthur DeGennaro &amp; Associates, LLC, Practice Management Consultants, Lexington, S.C., which designs and installs ophthalmology dispensaries.</p>
<p>About 70% of ophthalmology practices have dispensaries &#8212; so those physicians know that if they don&#8217;t concentrate on the so-called capture rate, red ink will flow. The capture rate is the percentage of patients whose prescriptions are filled at their providers&#8217; offices. Other factors affecting a successful dispensary operation: inventory selection, training staff in customer service and educating patients about the better service your office provides as opposed to someone else&#8217;s.</p>

<img src="images/omd_nov_5401.jpg"/>
<p class="cap_omd"><span class="big_omd">M</span>ake your dispensary an attractive place to visit.
<br/>COURTESY BSM CONSULTING
</p>

<h4 class="h4_omd">THE CRUCIAL CAPTURE RATE</h4>
<h5 class="h5_omd">A capture a day = a strong bottom line</h5>
<p>Focusing on the capture rate means paying attention to consistently increasing it &#8212; and reaching that goal without spending additional funds for advertising and staff.</p>
<p>The effort pays off. Carolyn Salvato, director of Optical Consulting, BSM Consulting, Bridgeton, Mo., estimates that one additional new spectacle purchase per day would add about $37,000 in additional annual profit per doctor. She bases that figure on factors including one prescribing doctor, the average sale of $260, a 42% cost of goods ratio, and unchanging operating expenses.</p>

<img src="images/omd_nov_5601.jpg"/>
<p class="cap_omd"><span class="big_omd">O</span>ptical staff should be ready to provide solutions to patients&#8217; vision needs.
<br/>COURTESY MAZZUCA EYE AND LASER CENTERS</p>

<p>But when the capture rate stays flat, it hurts in multiple ways, says Ron L. Greenberg, executive vice president of Medical Eyeglass Center, Westfield, N.J., a dispensary management firm. He laments situations in which business slips away when patients looking for lower prices take their prescriptions to retailers. Not only does the practice lose the business, but then, if these patients are dissatisfied with the glasses the retailers make, the retailers blames the refraction and tells these patients to return to the ophthalmologist for a new refraction. Which they do, expecting to get that new refraction for free. This costs the practice time and money, Mr. Greenberg points out. &#8220;I am not anti-retail,&#8221; he says. &#8220;There is plenty of business for everyone. However, we need to close the &#8216;treatment loop&#8217; by convincing patients, through better pricing and communication, to buy lenses and frames at the same place where they got their examinations.&#8221;</p>

<h4 class="h4_omd">IT&#8217;S NOT A PRODUCT, IT&#8217;S A PRESCRIPTION</h4>
<h5 class="h5_omd">It starts getting filled with eye-care staff</h5>
<p>Mr. Greenberg says to maximize the dispensary&#8217;s capture and utilization rates, all staff should use phrasing throughout a patient&#8217;s visit designed to increase foot traffic in the dispensary after the examination is complete. &#8220;We focus on medical reasons to interact with our opticians before, during and at the conclusion of the patient visit,&#8221; Mr. Greenberg says. These reasons include neutralizing glasses, dilating patients and simply directing patients at the conclusion of the exam. &#8220;These in turn drive our capture rates to their potential.&#8221;</p>
<p>Practices using electronic medical records also can increase capture rates, Ms. Salvato says. &#8220;The prescription can be printed in the dispensary, so all applicable patients must go there to pick them up.&#8221; Patients are not always aware the practice even has an optical, she notes.</p>
<p>That&#8217;s a good point, says Mr. Greenberg, but more is needed. The physician should discuss the change in the prescription with their patients and inform them that the new prescription will be waiting for them in the dispensary. The optician, he should tell them, will be there to review the lens options. In other words, treat the dispensary as a treatment-prescribing component of the business.</p>
<p>When the patient meets the optician, the medical mindset must continue. &#8220;We educate our opticians to approach patients by asking questions and providing solutions to patients&#8217; visual issues,&#8221; says Mr. Greenberg.</p>

<h5 class="h5_omd">More than a sales pitch</h5>
<p>Once physicians and staff adjust their outlook regarding the dispensary, issues such as sales tactics and customer service are more easily resolved. For one, it rules out high-pressure sales tactics. Instead, patient education is the name of the game.</p>
<p>&#8220;It&#8217;s important to educate patients about their eyewear choices, not only against competitors, but also within your own dispensary,&#8221; says Mary Walker, COE, director of operations, Vision Associates, Warren, N.J. &#8220;We don&#8217;t ever want to alienate the patient who doesn&#8217;t want to invest hundreds in designer eyewear.&#8221; She recommends offering a $99 package that includes a quality frame, lenses and full warranty. &#8220;Opticians must be able to explain each eyewear choice and let the patient decide.&#8221;</p>
<p>Informed, attentive service from the optical staff is more than a question of going the extra mile. Mr. DeGennaro cites better, more reliable customer service as being an essential factor in improving your dispensary&#8217;s capture rates and closing the treatment loop.</p>

<h4 class="h4_omd">THE DETAILS</h4>
<h5 class="h5_omd">The cost factor</h5>
<p>While ophthalmologists should be price sensitive, they also should be mindful &#8212; and should make their patients mindful &#8212; of the advantages their dispensary can offer them. A retail optician, for instance, cannot confer with the patient&#8217;s doctor should an issue arise.</p>
<p>Mr. Greenberg notes, &#8220;Competition exists, and practices need to be competitive.&#8221; His optical prices are 10% to 15% less than some major national chains and include budget-priced frame selections. However, he says, &#8220;We don&#8217;t worry about being the low-cost provider in the market, as that business is not suitable for the ophthalmology community in general.&#8221;</p>

<h5 class="h5_omd">Getting the word out</h5>
<p>Internal marketing, Ms. Salvato explains, helps let patients know about the availability of reasonably priced eyeglass packages to compete with the low-cost retail sector. Another aid in closing the sale: informing patients when warranties &#8212; an add-on at some retailers &#8212; are included in the price. &#8220;Make sure your optical staff knows this and passes the information on to the patient,&#8221; says Ms. Salvato.</p>

<h5 class="h5_omd">Stocking your dispensary</h5>
<p>As for inventory, Ms. Walker recommends that opticals &#8220;limit the number of vendors you are doing business with in order to maximize your buying power with each vendor.&#8221; And beware of buying too much. &#8220;Inventory over-buying is often the reason dispensaries are not as profitable as they should be,&#8221; she says. &#8220;We aim for a three-to-five times annual inventory turn in each dispensary, meaning if you carry 500 frames, you would be selling 1,500 to 2,500 pairs of glasses a year. I&#8217;ve seen offices stocked with 1,500 frames and annual sales of 1,000 units; basically their profits are all hanging on their frame boards in the form of inventory.&#8221; Running a successful dispensary requires an emphasis on quality, Ms. Walker notes, but there is no need to carry thousands of frames to bring customers in. &#8220;With careful buying you can offer a great selection with 500 frames.&#8221;</p>

<img src="images/omd_nov_5701.jpg"/>
<p class="cap_omd"><span class="big_omd">D</span>esigner frames will draw patients, but be sure to include lower-priced selections as well.
<br/>COURTESY VISION ASSOCIATES</p>

<p>&#8220;The best thing is to have a well-run and well-stocked dispensary,&#8221; says Mr. DeGennaro. &#8220;A major matter is convenience.&#8221; The price must be fair, he added, and the materials better than the competitions&#8217;.</p>

<h5 class="h5_omd">Control your own destiny</h5>
<p>A final piece of advice for dispensary success: Mr. DeGennaro cautions against relying heavily on referrals. &#8220;A direct-to-consumer model is more resilient today,&#8221; he says. The goal is to induce the eye health-care consumer to come to you. If 20% of your sales come from referrals, what would happen to a practice if the referring OD decides to stop referring?</p>
<p>&#8220;A better model is to appeal directly to the consumer,&#8221; he says. This, of course, means marketing. &#8220;Viable marketing is nothing more than creating value for people and educating them that that value is available,&#8221; Mr. DeGennaro explains. &#8220;If your value story resonates, they will be attracted to your practice.&#8221; <b>OM</b></p>

</body></html>