<html>
<head>
<meta http-equiv="Content-Language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<script type="text/javascript" src="/shared/image.js"> </script>
<link type="text/css" rel="stylesheet" href="/shared/pentavision.css"/>
<title>CODING &amp; REIMBURSEMENT</title>
</head>
<meta name="ARTICLE_TITLE" content="CODING &amp; REIMBURSEMENT"/>
<meta name="ARTICLE_DEPARTMENT" content="DEPARTMENT 12"/>
<meta name="ARTICLE_ID" content="111928"/>
<meta name="ARTICLE_VOLUME" content="18"/>
<meta name="ARTICLE_PUBLICATION" content="OMD"/>
<meta name="ARTICLE_IS_SUPPLEMENT" content="FALSE"/>
<meta name="ARTICLE_PAGE" content="8, 12"/>
<meta name="ISSUE_MONTH" content="NOVEMBER"/>
<meta name="ISSUE_YEAR" content="2014"/>
<meta name="ISSUE_NUMBER" content="11"/>
<meta name="DOI" content=""/>
<meta name="ARTICLE_AUTHOR1_1_FIRST" content="Suzanne"/>
<meta name="ARTICLE_AUTHOR1_1_LAST" content="Corcoran"/>
<meta name="HTML_NAME" content="OMD_November_A03"/><body onload="addImgAttributes()">

<h6 class="h6_omd"><span class="rb">CODING &amp; REIMBURSEMENT</span></h6>
<h1 class="h1_omd">Getting H&amp;P right</h1>
<h3 class="h3_omd">By Suzanne Corcoran</h3>
<img src="images/omd_nov_801.jpg"/>

<p><span class="bigdep_omd">T</span>hough a history and physical (H&amp;P) is frequently performed, many practices come to us with questions about it. Here&#8217;s what you need for a working knowledge of this common exam.</p>
<p><span class="bigdep_omd">Q</span> <b>What is a history and physical and why is it done?</b></p>
<p><span class="bigdep_omd">A</span> According to Medicare, the physician performs a comprehensive H&amp;P &#8220;to determine before the surgery whether there is anything in the patient&#8217;s overall condition that would affect the conduct of the planned procedure, or which may even require cancellation of the procedure.&#8221;</p>
<p>Physicians rarely require a physical exam for office procedures. For surgeries performed in an ASC, the ASC&#8217;s Conditions for Coverage are specific with requirements for the H&amp;P exam, which must be performed no more than 30 days prior to surgery. The CfC states,&#8220;The H&amp;P must be comprehensive in order to allow assessment of the patient&#8217;s readiness for surgery and is required regardless of the type of surgical procedure. The H&amp;P should specifically indicate that the patient is cleared for surgery in an ambulatory setting.&#8221; It may be performed on the day of surgery, but the results must be in the patient&#8217;s medical record before surgery begins. Requirements vary when surgery takes place in a hospital outpatient department, but most HOPDs require an H&amp;P within 30 days before surgery.</p>
<p><span class="bigdep_omd">Q</span> <b>Who can perform the H&amp;P before eye surgery?</b></p>
<p><span class="bigdep_omd">A</span> Typically, the patient&#8217;s personal physician does. However, a physician assistant (PA), a nurse practitioner (NP) or the surgeon also could do so. Some ophthalmologists employ a PA or NP whose duties include performing H&amp;Ps.</p>
<p>Most ophthalmologists prefer not to perform H&amp;Ps. One, they do not feel competent to assess and treat medical conditions outside their specialty; two, they don&#8217;t want the liability; and three, they do not feel it is an efficient use of their time. An H&amp;P performed by the surgeon within the global period would be considered part of the global surgery reimbursement.</p>
<p><span class="bigdep_omd">Q</span> <b>How is the H&amp;P reimbursed?</b></p>
<p><span class="bigdep_omd">A</span> Practices bill these exams using evaluation and management (E/M) codes; never eye codes, because these are not eye exams. The level of service varies with the amount of history, the number of exam elements and the degree of medical decision-making. If a member of the group performs the H&amp;P (such as an employed PA), the service level will be less because the history likely will be complete and recent, so no need exists to repeat it all. Also, some exam elements might overlap.</p>
</body></html>