<html>
<head>
<meta http-equiv="Content-Language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<script type="text/javascript" src="/shared/image.js"> </script>
<link type="text/css" rel="stylesheet" href="/shared/pentavision.css"/>
<title>A photographer&#8217;s perspective on DME imaging</title>
</head>
<meta name="ARTICLE_TITLE" content="A photographer&#8217;s perspective on DME imaging"/>
<meta name="ARTICLE_ID" content="111920"/>
<meta name="ARTICLE_VOLUME" content="18"/>
<meta name="ARTICLE_PUBLICATION" content="OMD"/>
<meta name="ARTICLE_IS_SUPPLEMENT" content="FALSE"/>
<meta name="ARTICLE_PAGE" content="34, 36"/>
<meta name="ISSUE_MONTH" content="NOVEMBER"/>
<meta name="ISSUE_YEAR" content="2014"/>
<meta name="ISSUE_NUMBER" content="11"/>
<meta name="DOI" content=""/>
<meta name="ARTICLE_AUTHOR1_1_FIRST" content="Bill"/>
<meta name="ARTICLE_AUTHOR1_1_LAST" content="Kekevian"/>
<meta name="HTML_NAME" content="OMD_November_A07"/><body onload="addImgAttributes()">

<h6 class="h6_omd"><span class="rb">Focus on Diabetic Eye Disease</span></h6>
<h1 class="h1_omd">A photographer&#8217;s perspective on DME imaging</h1>
<h2 class="h2_omd">While some practices rely solely on OCT, others continue to depend on fluorescein angiography.</h2>
<h3 class="h3_omd">By Bill Kekevian, Senior Associate Editor</h3>
<p><span class="big_omd">A</span>s technology expands, practices need to re-evaluate the value of using older techniques. In ophthalmology, doctors who specialize in diabetic retina care are living through such a sea change. Some continue to evaluate the significance of diabetic macular edema (DME) using fluorescein angiography, an invasive procedure, combined with color fundus photos. Others now rely solely on ocular coherence tomography (OCT). This is not an exercise in futility: DME continues to be the leading cause of vision loss among diabetic patients<a href="#ref1"><sup>1</sup></a> so professionals are keen to evaluate how to best image for this disease. This article reviews different approaches ophthalmic photographers take to gather images for DME.</p>
<img src="images/omd_nov_3401.jpg"/>
<p class="cap_omd"><span class="big_omd">U</span>ltrawidefield fluorescein angiogram of a patient with diffuse DME with prolific diabetic retinopathy and extensive peripheral capillary nonperfusion and peripheral vascular leakage.</p>
<h4 class="h4_omd">THE CASE FOR OCT</h4>
<h5 class="h5_omd">Ease of use</h5>
<p>&#8220;In reality, imaging DME couldn&#8217;t be easier right now,&#8221; says Tim Bennett, CRA, OCT-C, FOPS. &#8220;OCT seems to answer the question.&#8221; Mr. Bennett, the past president of the Ophthalmic Photographer Society, says he&#8217;s observed a shift from fluorescein angiography to OCT as retina specialists rely more on the latter. However, he says, if the doctor intends to use a focal laser to treat leakage as opposed to intravitreal injections, a fluorescein angiography should be used to identify the source of the leakage.</p>
<p>But ultimately, when imaging for DME, doctors are concerned with the presence of fluid, says Mr. Bennett. Traditionally, retinal thickening within 500 &#181;m of the center of the fovea would indicate clinically significant macular edema.<a href="#ref2"><sup>2</sup></a> To evaluate that thickening prior to the advent of OCT required multiple evaluations of the patient&#8217;s eye using an ophthalmoscope or one of the diagnostic lenses of the slit lamp. &#8220;Then, OCT came along and made it so easy,&#8221; Mr. Bennett says. That thickness today can be determined in a single session.</p>
<h5 class="h5_omd">Quality</h5>
<p>The convenience of OCT imaging isn&#8217;t its only benefit. &#8220;OCT is great because it gives us a cross section of the retina. We can see any defects below the layer [and] it gives us a physical thickness of the retina itself,&#8221; says John Martin, certified medical laser safety officer and ophthalmic photographer at Retinal Consultants of Arizona.</p>
<p>OCT imaging provides a different perspective than fundus photography, says Mr. Bennett. It offers direct cross-sectional images of ocular tissue for objective measurement and clinical evaluation in the detection of retinal diseases. An assessment of retinal morphology using OCT adds information about depth to the &#8220;en face&#8221; view observed with traditional equipment such as an ophthalmoscope or fundus camera, he says.</p>
<img src="images/omd_nov_3601.jpg"/>
<p class="cap_omd"><span class="big_omd">T</span>his preoperative SD-OCT image shows significant macular edema with cystoid fluid accumulation in a patient with background DR.</p>
<h5 class="h5_omd">Primary care</h5>
<p>&#8220;I think, personally, optometrists should have some kind of an OCT device,&#8221; says Mr. Martin. &#8220;It&#8217;s physical documentation.&#8221; He says the push to incorporate this sort of equipment at a primary care level could help eye-care professionals see changes in thickness over a longer period of time. Although primary care physicians normally can&#8217;t diagnose DME, they may be able to  recognize when the retina looks abnormal and, in that case, immediately refer the patient to an ophthalmologist or retina specialist. Mr. Martin is married to an optometrist who uses such a system. &#8220;Anytime she even questions anything, even if it&#8217;s just the slightest possibility that something is unusual, she&#8217;ll gladly refer a patient to a specialist to have them verify it,&#8221; Mr. Martin says.</p>
<p>Primary care offices in some European countries have been screening for retinopathy with digital non-mydriatic fundus cameras, especially in the UK, says Mr. Bennett. &#8220;Some programs here are doing that, too. It&#8217;s a matter of getting it in a primary care office and getting them to use it.&#8221; One US model is in the Department of Veteran&#8217;s Affairs, he says. In their primary care facilities, they install non-mydriatic fundus cameras and train nurses to take photos, which are then transmitted to a reading center and read by either trained readers or physicians. This telemedicine model, he suggests, could work for OCT images as well for the early diagnosis of DME, diabetic retinopathy or both.</p>
<h4 class="h4_omd">FLUORESCEIN ANGIOGRAPHY AND FUNDUS COLOR PHOTOS</h4>
<h5 class="h5_omd">Physical document</h5>
<p>&#8220;A lot of the doctors, at least here, and others that I know, they like the OCT because it gives them the numbers,&#8221; says Mr. Martin. &#8220;But when a diabetic patient comes in, primarily we will run the full gamut. We still use color fundus photos for physical documentation and then fluorescein angiography to see if there are any active leakages,&#8221; he says. Mr. Martin believes the fluorescein angiography&#8217;s ability to detect fluids and ischemia provides a more complete picture. Color fundus images, he says, pick up &#8220;any color pigmentations that, for some reason, don&#8217;t show up on fluorescein angiography. Because of the filters on fluorescein angiography, you can lose those details and in an OCT you don&#8217;t have that at all.</p>
<p>&#8220;I think some doctors still like to see a physical documentation,&#8221; provided by fundus photos and fluorescein angiography, he says. However, he senses a change in the tide. Newer doctors do not rely on fluorescein angiography as much, and might one day stop all together, he says.</p>
<h5 class="h5_omd">Risks</h5>
<p>One reason fluorescein angiography may lose its spot in the imaging line-up is the dye used in the procedure: Some patients, though few, are allergic to it. A patient with drug allergy history could have a higher incidence and greater severity of an adverse reaction.<a href="#ref3"><sup>3</sup></a></p>
<p>&#8220;Some doctors may still get a fluorescein angiography at the initial visit, but often they will track edema with OCT images. In years past they would have used fluorescein angiography in order to do that. So, that has certainly changed,&#8221; says Mr. Bennett. &#8220;Some physicians may still prefer to use angiography in certain cases of DME, but many seem to rely almost exclusively on OCT when treating DME with anti-VEGF medications.&#8221; <b>OM</b></p>
<h4 class="h4_omd">REFERENCES</h4>
<div class="notebox_omdref">
<a id="ref1"> </a><p class="ref">1. Romero-Aroca, P. Managing diabetic macular edema: The leading cause of diabetes blindness. World J Diabetes. 2011;2:98&#8211;104.</p>
<a id="ref2"> </a><p class="ref">2. Mavrikakis, E. Macular Edema in Diabetes. Medscape. Oct. 13, 2014. <a target="_blank" href="http://emedicine.medscape.com">http://emedicine.medscape.com</a> Accessed Oct. 21, 2014.</p>
<a id="ref3"> </a><p class="ref">3. Su Z, Ye P, Teng Y, et al. Adverse reaction in patients with drug allergy history after simultaneous intravenous fundus fluorescein angiography and indocyanine green angiography. J Ocul Pharmacol Ther. 2012;28:410-413.</p>
</div>


</body></html>