<html>
<head>
<meta http-equiv="Content-Language" content="en-us"/>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<script type="text/javascript" src="/shared/image.js"> </script>
<link type="text/css" rel="stylesheet" href="/shared/pentavision.css"/>
<title>THE ENLIGHTENED OFFICE</title>
</head>
<meta name="ARTICLE_TITLE" content="THE ENLIGHTENED OFFICE"/>
<meta name="ARTICLE_DEPARTMENT" content="DEPARTMENT 18"/>
<meta name="ARTICLE_ID" content="111934"/>
<meta name="ARTICLE_VOLUME" content="18"/>
<meta name="ARTICLE_PUBLICATION" content="OMD"/>
<meta name="ARTICLE_IS_SUPPLEMENT" content="FALSE"/>
<meta name="ARTICLE_PAGE" content="70"/>
<meta name="ISSUE_MONTH" content="NOVEMBER"/>
<meta name="ISSUE_YEAR" content="2014"/>
<meta name="ISSUE_NUMBER" content="11"/>
<meta name="DOI" content=""/>
<meta name="ARTICLE_AUTHOR1_1_FIRST" content="Cynthia"/>
<meta name="ARTICLE_AUTHOR1_1_LAST" content="Matossian"/>
<meta name="HTML_NAME" content="OMD_November_A18"/><body onload="addImgAttributes()">

<h6 class="h6_omd"><span class="rb">THE ENLIGHTENED OFFICE</span></h6>
<h1 class="h1_omd">Patient surveys give us insights into our patients&#8217; minds</h1>
<h2 class="h2_omd">Generating feedback is a vital step toward improving your practice.</h2>
<h3 class="h3_omd">By Cynthia Matossian, MD, FACS</h3>

<p><span class="bigdep_omd">T</span>hese days, patients judge practices in ways physicians and their staff might have never imagined. The modern patient is apt to bring complaints to the Internet, where she can find myriad websites eager to publicize any reviews from the most endearing to the most venomous. Since the Internet is also where prospective patients are researching their medical options, virtual reviews can have a real-world impact.</p>

<h4 class="h4_omd">KEEP COMPLAINTS OFF-LINE</h4>
<p>With patient surveys, our practice decided to beat patients to the punch. We send satisfaction surveys after every visit to patients who provide us with their e-mail address. If patients are less than satisfied, instead of giving them the opportunity to vent on a public forum, they receive our personalized survey to complete. It usually placates patients and, this way, if patients have a complaint, it goes directly to us and we can address it privately. The survey can be completed anonymously if a patient wishes.</p>
<img src="images/omd_nov_7001.jpg"/>

<h4 class="h4_omd">A COMPREHENSIVE SURVEY</h4>
<p>We created our own survey in lieu of using a generic one. The survey has 11 questions and polls the patient about each step of his visit, from the first call to his interaction with the doctor and billing.</p>
<p>Each survey concludes with an optional section in which the patient can add any additional information she wishes to share.</p>

<h4 class="h4_omd">POSITIVE FEEDBACK</h4>
<p>Our practice has a policy that helps motivate staff and foster a little healthy competition. When a staff member gets an unsolicited positive mention, by name, on a patient survey, that staff member is rewarded a $10 gift card to a local business.</p>

<h4 class="h4_omd">MANAGING COMMENTS</h4>
<p>Once a week, our management team reviews the comments. When the surveys include negative feedback, we have the appropriate manager take it to the individual responsible. For instance, if the patient says the billing department gave her incorrect information, the manager of our billing department will contact both the patient and the staff member in question.</p>
<p>This way, patients get a direct response from the appropriate party and the staff member  can relate his side of the story.</p>

<h4 class="h4_omd">MEANINGFUL USE</h4>
<p>In the near future, Meaningful Use Stage 2 will require practices to have a percentage of patients complete some form of evaluation. It&#8217;s best to ingrain patients&#8217; reviews into your practice culture now so your team is prepared for the upcoming requirements. Most importantly, viewing the patient comments as valuable tools will help your practice maintain a competitive edge. <b>OM</b></p>

<div class="notebox_omdimg"><table><tr><td><img src="images/omd_nov_7002.jpg"/></td><td><p class="para_omdimg">Cynthia Matossian, MD, FACS, is the founder of Matossian Eye Associates. Her e-mail is <a target="_blank" href="mailto:cmatossian@matossianeye.com">cmatossian@matossianeye.com</a></p></td></tr></table></div>
</body></html>